// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Add the classes used by devise to mimic the native bootstrap styles. */
.alert-notice {
  background-color: $alert-success-bg;
  border-color: $alert-success-border;
  color: $alert-success-text;
}

/* Add the classes used by devise to mimic the native bootstrap styles. */
.alert-alert {
  background-color: $alert-danger-bg;
  border-color: $alert-danger-border;
  color: $alert-danger-text;
}